#!/bin/sh -e

# ----------------------------------------------------------------------
# config.sh.example 
# Copy this directory to config.sh and edit as necessary
# ---------------------------------------------------------------------- 

export INSTALL=install
export MANDIR=$REDO_ROOT/installdir/share/man
export BINDIR=$REDO_ROOT/installdir/bin
export LIBDIR=$REDO_ROOT/installdir/lib/redo
